* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Poppins", sans-serif;
}

.nav_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(128, 128, 128, 0.627);
  height: 15vh;
  padding: 0 100px;
  position: relative;
}
.nav_container .nav_menulist {
  display: flex;
  gap: 20px;
}
.nav_container .nav_menulist .btn {
  background-color: #ed563b;
  border: none;
  color: white;
  padding: 10px 15px;
}
.nav_container .nav_menulist ul {
  display: flex;
  gap: 20px;
  margin-top: 9px;
}
.nav_container .nav_menulist li a {
  color: white;
  font-size: 15px;
}
.nav_container .nav_menulist li a:hover {
  color: #ed563b;
}
.nav_container .nav_logo {
  font-size: 20px;
  font-weight: 700;
  color: white;
}
.nav_container .studio {
  color: #ed563b;
}

.nav_video {
  position: absolute;
}
.nav_video video {
  width: 100%;
  filter: brightness(0.4);
}

.nav_text {
  position: relative;
  text-align: center;
  padding-top: 150px;
}
.nav_text p {
  color: white;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
}
.nav_text h1 {
  color: white;
  font-weight: 900;
  font-size: 60px;
  text-transform: uppercase;
  padding-top: 17px;
}
.nav_text .gym {
  color: #ed563b;
}
.nav_text .btn1 {
  margin-top: 20px;
  background-color: #ed563b;
  padding: 15px 15px;
  border: none;
}
.nav_text a {
  color: white;
  font-size: 15px;
}

.section2a {
  margin-top: 450px;
  text-align: center;
}
.section2a h1 {
  font-weight: 900;
  font-size: 25px;
  text-transform: uppercase;
  padding-top: 17px;
  padding-bottom: 10px;
}
.section2a .pro {
  color: #ed563b;
}
.section2a p {
  margin-top: 10px;
  color: rgba(128, 128, 128, 0.884);
  line-height: 1.5;
  font-size: 15px;
}

.section2b {
  display: flex;
}
.section2b .basic {
  display: flex;
  margin: 0 100px;
  margin-top: 50px;
}
.section2b .basic_text {
  margin-left: 30px;
  line-height: 1.6;
}
.section2b h2 {
  font-size: 20px;
  text-transform: capitalize;
}
.section2b p {
  color: rgba(128, 128, 128, 0.884);
  font-size: 15px;
}
.section2b a {
  margin-top: 10px;
  color: #ed563b;
  font-size: 15px;
  font-weight: 700;
}

.section3 {
  background-image: url(./image/cta-bg.jpg);
  height: 60vh;
  margin-top: 100px;
}
.section3 .section3_text {
  text-align: center;
  padding-top: 100px;
}
.section3 h1 {
  color: white;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 900;
}
.section3 span {
  color: #ed563b;
}
.section3 p {
  color: white;
  font-size: 20px;
  line-height: 1.5;
}
.section3 .btn2 {
  margin-top: 20px;
  background-color: #ed563b;
  padding: 15px 15px;
  border: none;
  color: white;
  font-size: 15px;
}

.section4a {
  margin-top: 100px;
  text-align: center;
  cursor: pointer;
}
.section4a h1 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 25px;
  padding-bottom: 10px;
}
.section4a span {
  color: #ed563b;
}
.section4a p {
  margin-top: 10px;
  color: rgba(128, 128, 128, 0.884);
  line-height: 1.5;
  font-size: 15px;
}

.section4b .first {
  display: flex;
  background-color: white;
  padding: 30px;
  width: 25%;
  box-shadow: 2px 2px 2px 2px lightgray;
  margin-top: 30px;
  border-radius: 3px;
}
.section4b a {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 15px;
  color: black;
}
.section4b .aa {
  color: #ed563b;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 15px;
}
.section4b .ab {
  font-size: 19.5px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 15px;
  color: black;
}
.section4b p {
  margin-top: 10px;
}
.section4b .btn4 {
  padding: 20px;
  width: 25%;
  box-shadow: 2px 2px 2px 2px lightgray;
  margin-top: 30px;
  border-radius: 3px;
  background-color: #ed563b;
  color: white;
  border: none;
  font-size: 20px;
  font-weight: 700;
}/*# sourceMappingURL=trainingstudio.css.map */